<div
    class="ct-dropdown-container" 
    ng-class="{isOpen: showDropdown}"
>
    <div
        class="ct-dropdown-title-container"
        ng-click="toggleDropdown()"
    >
        <span class="ct-dropdown-title">
            {{ label }}
        </span>
        <span class="icon-font down-arrow"></span>
    </div>
    <div
        class="ct-dropdown-options-overlay"
        ng-if="showDropdown"
        ng-click="toggleDropdown()"
        attr-auto="{{autoAttrName}}" msd-wheel="toggleDropdown()"
    >
        <ul
            class="options-list"
            ng-style="position"
        >
            <li
                ng-repeat="option in options"
                class="options-item"
                ng-click="select(option)"
                ng-class="{active: option.value == model, disabled: option.value === null}"
            >
                {{ option.label }}
            </li>
        </ul>
    </div>
</div>