@import "../../../assets/css/colors";
@import "../../../assets/css/reset";
@import "../../../assets/css/variables";
@import "../../../assets/css/mixins";

.form-control-textbox {
  @include textBox;

  .iconFont {
    &.smallClose{ 
        color: $warm-gray;
        font-size: inherit;
        margin-bottom: 5px;

        &:hover,
        &:active {
            color: $darkest-gray;
        }
    }
  }
}

.filter-items-text {
  @include searchBox;
}

.ct-form-control-textBox {
  //display: flex;
  //align-items: center;

  label {
    display: block;
    margin-right: 10px;
  }

  label.inline {
    display: inline;
  }
  input {
    @include input;

    //&:active,
    //&:focus,
    //&:hover {
    //  border-bottom: 1px solid $c-2 !important;
    //}
    //
    //&.ng-invalid.ng-touched {
    //  border-bottom: 1px solid red !important;
    //}
  }

  .iconFont {
    position: relative;
    right: 10px;
    font-size: 13px;
    &.gray {
      color: #ccc;
    }

    &.smallClose{ 
      color: $c-2;
      font-size: inherit;
      margin-bottom: 5px;

      &:hover {
          color: $darkest-gray;
      }
    }
  }

    &.hasIcon {
      input {
        padding-right: 15px;
      }
    }

  input:disabled {
    background: none;
    border-bottom: 1px solid #ccc !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}