@import 'reset.scss';
.ct-button {
  border: none;
  outline: 0;
  color: white;
  font-family: objektiv, sans-serif;
  line-height: 32px;
  font-size: 12px;
  padding: 0px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid #999;
  cursor: pointer;

  &.ct-button-sm {
    height: 26px;
    line-height: 25px;
    padding: 0 15px;

    &:hover {
      .icon-font {
        color: #fff;
      }
    }
  }

  .iconFont  {
    margin-bottom: 1px;
  }
  &.ct-button-ok {
    background: #28d2ab;
    color: white;
    border-color: #28d2ab;

    &:hover {
      background: transparent;
      color: #28d2ab;
    }

    &:active {
      border-color: #1c9679;
      background: #1c9679;
      color: #fff;
    }

    &[disabled] {
      opacity: 0.3;
      &:hover {
        background: #28d2ab;
        color: white;
        border-color: #28d2ab;
      }
    }
  }

  &.ct-button-default {
    color: #414042;
    background: transparent;
    border-color: #414042;

    &:hover {
      background: #414042;
      color: #fff;
    }

    &:active {
      border-color: #000;
      background: #000;
      color: #fff;
    }

    &[disabled] {
      opacity: 0.3;
      background: #999;
      color: #2d2d2d;
    }
  }

  &.ct-button-warn {
    border-color: #ff3333;
    color: #ff3333;
    background: transparent;

    &:hover,
    &.active {
      background: #ff3333;
      color: #fff;
    }

    &:active {
      border-color: #990000;
      background: #990000;
      color: #fff;
    }
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.ct-button-slim {
    height: 22px;
    line-height: 20px;
    font-size: 11px;
    padding: 0px 12px;
  }
}

.ct-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #cacaca;
  width: 28px;
  height: 28px;
  border: none;
  outline: 0;
  cursor: pointer;
  border:1px solid transparent;
  > span {
    font-size:20px;
    color: #000;
    height: 5px;
    line-height: 0px;
    font-weight: bold;
  }
  &:hover {
    background: transparent;
    border-color:#cacaca;
  }

  &:active {
    background: #8E73FB;
  }
}
//new style buttons
$transition: background-color 0.3s,
            box-shadow 0.3s,
            border 0.3s;

@mixin btnPrimary {
  @include resetBtn;
  font-size: $font-size-s;
  color: $white;
  width: fit-content;
  min-width: 130px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $primary-hover;
  background-image: linear-gradient(to right, $primary-gr-start, $primary-gr-end);
  border-radius: $button-border-radius;
  box-shadow: $shadow-button;
  vertical-align: top;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: $primary-hover;
    background-image: none;
    box-shadow: none;
    position: relative;
    top: 1px;
  }
  &[disabled] {
    box-shadow: none;
    opacity: 0.3;
    pointer-events: none;
  }
}

@mixin btnPrimarySmall {
  @include resetBtn;
  font-size: $font-size-p;
  color: $white;
  width: fit-content;
  min-width: 80px;
  height: 28px;
  line-height: 28px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $primary-hover;
  background-image: linear-gradient(to right, $primary-gr-start, $primary-gr-end);
  border-radius: $button-border-radius;
  vertical-align: top;
  box-shadow: $shadow-button;
  cursor: pointer;
  // transition: $transition;
  &:hover {
    background-color: $primary-hover;
    background-image: none;
    box-shadow: none;
    position: relative;
    top: 1px;
  }
  &[disabled] {
    box-shadow: none;
    opacity: 0.3;
    pointer-events: none;
  }
}

@mixin btnSecondary {
  @include resetBtn;
  font-size: $font-size-s;
  color: $text-medium;
  width: fit-content;
  min-width: 130px;
  height: 40px;
  line-height: 38px; //border takes 2px
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $secondary-regular;
  border: 1px solid $secondary-border;
  border-radius: $button-border-radius;
  vertical-align: top;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $text-dark;
    background-color: $secondary-hover;
    .icon-font.icon-trash {
      color: $text-dark;
    }
  }
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  .icon-font.icon-trash {
    color: $text-medium;
    margin-right: 5px;
    &:hover {
      color: $text-dark;
    }
  }
}

@mixin btnSecondarySmall {
  @include resetBtn;
  font-size: $font-size-p;
  color: $text-medium;
  width: fit-content;
  min-width: 80px;
  width: fit-content;
  height: 28px;
  line-height: 26px; //border takes 2px
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $secondary-regular;
  border: 1px solid $secondary-border;
  border-radius: $button-border-radius;
  vertical-align: top;
  cursor: pointer;
  // transition: $transition;
  &:hover {
    color: $text-dark;
    background-color: $secondary-hover;
  }
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  .icon-trash {
    margin-right: 5px;
  }
  .icon-trash-text {
    display: inline-block;
    height: 100%;
    line-height: 26px;
    vertical-align: top;
  }
}

@mixin btnSilver($width: 88px, $height: 26px, $fontSize: $font-size-xs, $marginLeft: 10px, $arrowFontSize:  5px) {
  @include resetBtn;
  font-size: $fontSize;
  color: $text-dark;
  width: $width;
  height: $height;
  line-height: $height;
  margin-left: $marginLeft;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border: 1px solid $silver-border;
  border-radius: $button-border-radius;
  vertical-align: top;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(to top, #e2e6ed, #ffffff);
  }
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  .arrow-downico:after {
    display: inline-block;
    font-size: $arrowFontSize;
    color: $text-darkest;
    margin-left: 5px;
    vertical-align: unset;
    &:hover,
    &:active {
       color: $text-darkest;
    }
  }
  .more-options-hollow {
    font-size: 2px;
    margin-left: 5px;
    &:after {
      display: inline-block;
      vertical-align: super;
    }
  }
}

@mixin btnLinked {
  color: $system-regular;
  font-weight: 600;
  min-width: 175px;
  &:hover {
    color: $system-regular;
  }
  .plus {
    font-size: 8px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }
}

.ct-btn-primary {
  @include btnPrimary;
}

.ct-btn-secondary {
  @include btnSecondary;
}

.ct-btn-primary-small {
  @include btnPrimarySmall;
}

.ct-btn-secondary-small {
  @include btnSecondarySmall;
}

.ct-btn-linked {
  @include btnLinked;
}

.ct-btn-silver {
  @include btnSilver;
}


